<h2 class="text-center p-4">Frequently Asked Questions</h2>
<div class="accordion col-9 mx-auto" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        How can I book a hotel room?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        To book a hotel room, visit the <b>Search bar</b> on the homepage. Enter your destination, check-in and check-out dates, number of guests, and any specific preferences. Click the search button to view available hotels, then select your preferred option and follow the prompts to complete your booking.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Can I request special accommodations?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <b>Yes</b>, you can request special accommodations such as early check-in, late check-out, or accessibility features. Please contact the hotel directly or use our messaging system to communicate your needs before your arrival.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        What health and safety protocols are followed?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Our hotels follow strict <b>health and safety</b> protocols, including regular sanitization of rooms, staff health checks, and social distancing measures. We recommend reviewing specific policies for each hotel upon booking.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        What payment options are available?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        We accept multiple payment methods,<strong>, they are secured with razorpay</strong>. Choose your preferred method during checkout, and a receipt will be emailed to you for your records. <strong>Rest assured, this process is secure and reliable.</strong>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Are pets allowed in the hotels?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Some hotels may <b>allow</b> pets while others may have restrictions or additional fees. You can filter your search results to find pet-friendly hotels or check directly with the hotel regarding their pet policy.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Do I need an account to leave a review or make a booking?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Yes</strong>, creating an account is necessary to leave a review or book a room. This ensures a secure and personalized experience and helps us verify the authenticity of reviews. You can easily sign up or log in using the "Login/Sign Up" button at the top right corner of the website.
      </div>
    </div>
  </div>
  <br>
</div>
