<div class="filters-main">
    <div id="filters">
      <div class="filter-width">
        <a href="/listings">
          <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
          </div>
        </a>
        <a href="/listings/filter/Beachfront">
          <div class="filter">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beachfront</p>
          </div>
        </a>
        <a href="/listings/filter/Farms">
          <div class="filter">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farms</p>
          </div>
        </a>
        <a href="/listings/filter/Omg">
          <div class="filter">
            <div><i class="fa-brands fa-space-awesome"></i></div>
            <p>OMG</p>
          </div>
        </a>
        <a href="/listings/filter/Lake">
          <div class="filter">
            <div><i class="fa-solid fa-water"></i></div>
            <p>Lake</p>
          </div>
        </a>
        <a href="/listings/filter/AmazingPools">
          <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Pools</p>
          </div>
        </a>
        <a href="/listings/filter/Rooms">
          <div class="filter">
            <div><i class="fa-solid fa-person-booth"></i></div>
            <p>Rooms</p>
          </div>
        </a>
        <a href="/listings/filter/Lakefront">
          <div class="filter">
            <div><i class="fa-brands fa-cloudflare"></i></div>
            <p>Lakefront</p>
          </div>
        </a>
        <a href="/listings/filter/Tiny Homes">
          <div class="filter">
            <div><i class="fa-solid fa-house-user"></i></div>
            <p>Tiny</p>
          </div>
        </a>
        <a href="/listings/filter/Countryside">
          <div class="filter">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Countryside</p>
          </div>
        </a>
        <a href="/listings/filter/Cabins">
          <div class="filter">
            <i class="fa-solid fa-house-chimney-window"></i>
            <p>Cabins</p>
          </div>
        </a>
        <a href="/listings/filter/Treehouse">
          <div class="filter">
            <div><i class="fa-solid fa-tree"></i></div>
            <p>Treehouse</p>
          </div>
        </a>
        <a href="/listings/filter/Tropical">
          <div class="filter Tropical">
            <div><i class="fa-solid fa-house-fire"></i></div>
            <p>Tropical</p>
          </div>
        </a>
        <a href="/listings/filter/National Parks">
          <div class="filter National-parks">
            <div><i class="fa-solid fa-democrat"></i></div>
            <p>Parks</p>
          </div>
        </a>
        <a href="/listings/filter/Castles">
          <div class="filter Castles">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
          </div>
        </a>
        <a href="/listings/filter/Camping">
          <div class="filter Camping">
            <div><i class="fa-solid fa-tents"></i></div>
            <p>Camping</p>
          </div>
        </a>
        <a href="/listings/filter/Top Of The World">
          <div class="filter Top-of-the-world">
            <div><i class="fa-solid fa-square-person-confined"></i></div>
            <p>World</p>
          </div>
        </a>
        <a href="/listings/filter/Luxe">
          <div class="filter Luxe">
            <div><i class="fa-solid fa-building-user"></i></div>
            <p>&nbsp;Luxe&nbsp;</p>
          </div>
        </a>
        <a href="/listings/filter/Iconic Cities">
          <div class="filter Iconic-cities">
            <div><i class="fa-solid fa-tree-city"></i></div>
            <p>Iconic Cities</p>
          </div>
        </a>
        <a href="/listings/filter/Earth Homes">
          <div class="filter Earth-homes">
            <div><i class="fa-solid fa-building-shield"></i></div>
            <p>Earth Homes</p>
          </div>
        </a>
      </div>
        <div class="container mt-4 right-section">
          <!-- Tax Box Section -->
          <div class="taxbox">
            <div class="form-check form-switch d-flex justify-content-between align-items-center">
              <label class="form-check-label" for="flexSwitchCheckDefault">Show with taxes</label>
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            </div>
          </div>
        
          <!-- Your Booking Section -->
          <div class="yourBooking">
            <a href="/myBookings" ><i class="fa-solid fa-map-pin"></i></a>
          </div>
        </div>
    </div>
  </div>
