<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innostay</title>
    <link rel="stylesheet" href="/css/landing.css"/>
</head>

<body>
    <div class="box">
        <h1>Welcome to Innostay</h1>
        <h2>Your Home Away From Home</h2>
        <div class="button">
            <a href="/listings">Explore</a>
        </div>
        
    </div>
</body>
</html>
