body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-map{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.navbar>.container-fluid{
    background-color: #fff;
}
.f-info-links a{
    text-decoration: none;
    color: #222222 !important;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,.f-info-socials {
    width: 100%;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
/* @media (max-width: 576px) {
    .card {
      width: 100% !important;
      margin-bottom: 1rem; 
    }
  } */

.card{
    border: none !important;
    margin-bottom: 2rem;
}  
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400;
}
.listing-link{
text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.1;
    background-color: #fff;
}
.add-btn{
    background-color: #fe424d !important;
    color: #fff !important;
}
.add-btn:hover{
    background-color: #fe202f !important;
}
/* styles.css */
.custom-card-img {
    border-radius: 15px; 
    max-height: 300px;   
    object-fit: cover;   
    width: 100%;         
  }
.form-container {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-control, .form-control-range {
    margin-bottom: 15px;
}
  .submit-btn {
    width: 100px;
  }
.button-wrapper{
    display: flex;
    justify-content: flex-end;
}  
