<% layout("/layouts/boilarplate.ejs") %>    
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body text-center"> <!-- Added text-center to center align text -->
                    <h2 class="text-primary">Contact Us</h2>
                    <div class="contact-info my-4">
                        <h5>Email:</h5>
                        <p><a href="mailto:jeetbanik332004@gmail.com">jeetbanik332004@gmail.com</a></p>
                        
                        <h5>Phone:</h5>
                        <p><a href="tel:+916289775291">+91 6289775291</a></p>
                    </div>
                    
                    <!-- Business Address Section -->
                    <div class="business-address my-4">
                        <h5>Business Address:</h5>
                        <p>
                            Innostay Pvt. Ltd.<br>
                            Mahatma gandhi Road,<br>
                            Kolkata, West Bengal, India
                        </p>
                    </div>

                    <!-- Get In Touch Button -->
                    <div class="text-center">
                        <a href="mailto:jeetbanik332004@gmail.com" class="btn btn-primary">Get In Touch</a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
