<% layout("/layouts/boilarplate.ejs") %>    
<div class="container mt-5">
    <h2>Disclaimer</h2>

    <p>This website is provided "as is" without any representations or warranties, express or implied. Innostay makes no representations or warranties in relation to this website or the information and materials provided on this website. By using this website, you acknowledge and agree to the terms outlined in this disclaimer. If you do not agree with the terms, you are requested not to use the website.</p>

    <h4>1. No Warranties</h4>
    <p>All information on this website is provided for general informational purposes only. While we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability of the website or the information, products, services, or related graphics contained on the website for any purpose.</p>

    <h4>2. Limitation of Liability</h4>
    <p>In no event will InnoStay be liable for any loss or damage including, without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>

    <h4>3. External Links</h4>
    <p>Through this website, you may be able to link to other websites that are not under the control of Innostay. We have no control over the nature, content, and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>

    <h4>4. Payment Disclaimer</h4>
    <p>Transactions processed through this website are handled by third-party payment gateways like Razorpay. We are not liable for any issues arising from payment processing failures, including technical errors, delays, or gateway service interruptions. You are advised to carefully read Razorpay’s <a href="https://razorpay.com/terms/">Terms of Service</a> before making any transactions through the payment gateway.</p>

    <h4>5. Changes to Disclaimer</h4>
    <p>Innostay reserves the right to modify this disclaimer at any time without prior notice. By continuing to use the website, you agree to the updated terms of the disclaimer.</p>

    <h4>6. Indemnity</h4>
    <p>You agree to indemnify and hold harmless [Your Business Name] from and against any and all claims, liabilities, damages, losses, or expenses arising out of your use of this website, including any violation of this disclaimer.</p>

    <h4>7. Governing Law</h4>
    <p>This disclaimer is governed by and construed in accordance with the laws of India.</p>
    
    <br>
</div>
